<manifest xmlns:android="http://schemas.android.com/apk/res/android"
     xmlns:tools="http://schemas.android.com/tools"
    package="com.example.flutter_aplication_2">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-sdk
       android:minSdkVersion="21"
       android:targetSdkVersion="33"
       tools:overrideLibrary="io.flutter.plugins.firebase_auth" />
</manifest>
